body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-btn {
  position: fixed;
  background-color: #fff;
  border: 1px solid black;
  width: 20vw;
  height: 10vh;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #000;
  font-weight: 600;
  transition: transform 0.5s ease-in-out;
}

.btn-btn:hover {
  background-color: #222;
  color: #fff;
  box-shadow: none;
  transform: translateX(5px);
}
